.box-input{
  width: 75%;
  min-height: 100vh;
  height: auto;
}
.counter, .suggestion{
  color: var(--secundary-color);
}

.counter{
  padding-left: 85%;
}

.box-suggestion{
  display: flex;
  margin: 16px 0 16px 20% ;
  align-items: center;
  gap: 8px;
}

.suggestion-img{
  width: 16px;
  height: 16px;
}

.suggestion{
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .box-input{
    width: 100%;
    min-height: auto;
  }

  .counter{
    padding-left: 85%;
  }

  .box-suggestion{
    margin: 16px 0;
    padding: 0 5.5vw;
  }
}

@media screen and (max-width: 425px){
  .counter{
    padding-left: 82%;
  }
}