.box-input__buttons{
  margin-left: 20%;
  display: flex;
  justify-content: space-between;
  width: 70%;
}

@media screen and (max-width: 768px){
  .box-input__buttons{
    width: 100%;
    margin: 0;
    padding: 0 5.5vw;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 425px){
  .box-input__buttons{
    row-gap: 24px;
  }
}