.output__output{
  padding: 32px;
  width: 100%;
  min-height: 78vh;
  height: auto;
  color: var(--secundary-color);
  font-family: var(--font);
  font-weight: 400;
  font-size: 1.15em;
  background-color: transparent;
  outline: none;
  border: none;
  resize: none;
  overflow: hidden;
  pointer-events: none;
}

.output__output-ocultar{
  display: none;
}