.input__btnEncriptar{
  background-color: var(--primary-color);
  color: #ffffff;
  border: none;
}

.input__btnDesencriptar{
  color: var(--primary-color);
  background-color: var(--second--color-btn);
  border: 1px solid var(--primary-color);
}

.input__btnCopiar{
  width: 90%;
  justify-self: center;
  background-color: #ffffff;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.input__btnCopiar-ocultar{
  display: none;
}