.input__btnEncriptar{
  background-color: var(--primary-color);
  color: #ffffff;
  border: none;
}

.input__btnEncriptar:hover{
  background-color: #052051;
}

.input__btnDesencriptar{
  color: var(--primary-color);
  background-color: var(--second--color-btn);
  border: 1px solid var(--primary-color);
}

.input__btnDesencriptar:hover{
  background-color: #f0f0f0;
}

.input__btnCopiar{
  width: 90%;
  justify-self: center;
  background-color: #ffffff;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  margin-left: 5%;
}

.input__btnCopiar:hover{
  background-color: var(--second--color-btn);
}

.input__btnCopiar-ocultar{
  display: none;
}

@media screen and (max-width: 768px){
  /* .input__btnEncriptar, .input__btnDesencriptar{
    padding: 24px 8rem;
  } */
}   