.input__btnEncriptar{
  background-color: var(--primary-color);
  color: #ffffff;
  border: none;
}

.input__btnDesencriptar{
  color: var(--primary-color);
  background-color: var(--second--color-btn);
  border: 1px solid #0A3871;
}